@media screen and (max-width:620px){
	body{
		height:100%;
		width:100%;
	}
	#titre{
		display:block;
		right:0;
		left:0;
		top:80px;
		margin-left:0;
		margin-right:0;
		text-align:center;
		font-family:KaushanScript-Regular;
	}
	table{
		margin:0;
		width:100%;
	}
	#contact{
		right:0;
		left:0;
		height:125px;
		width:215px;
	}
	#misc{
		left:0;
		float:right;
		margin-top:0px;
		font-family:PlayFairItalic;
		font-size:24px;
		height:75px;
		width:200px;
	}
	#site_maison{
		top:100px;
		margin-top:0;
		padding-left:0;
		margin-top: 0;
		height:200px;
	}
	#email{
		position:relative;
		margin-left:0;
		padding-left:0;
		top:50px;
		width:95%;
		height:90px;
		margin-top:0;
		/*float:right;*/
	}
#fly{
	display:none;
	position:relative;
	height:50px;
	width:100%;
	background-color:lightblue;
}
#fly1{
	position:relative;
	float:left;
	margin-left:80%;
	margin-top:0px;
	height:50px;
	width:50px;
	background-image:url(../../ressources/images/fly.png);
	background-repeat:no-repeat;
}
#fly2{
	display:none;
	position:absolute;
	float:left;
	margin-left:68%;
	margin-top:-10px;
	height:50px;
	width:50px;
	background-image:url(../../ressources/images/fly.png);
	background-repeat:no-repeat;
}
#fly3{
	display:none;
	position:absolute;
	float:left;
	margin-left:75%;
	margin-top:-60px;
	height:50px;
	width:50px;
	background-image:url(../../ressources/images/fly.png);
	background-repeat:no-repeat;
}

table{
	width:100%;
	margin:0;
}
tr {
	width:100px;
	overflow:hidden;
}
td{
	vertical-align:top;
	width:10px;
	/*height:50px;*/
	overflow:hidden;
}

.line{  /*margin-left:15%;
	margin-right:15%;*/
	height:2px;
	clear:both;
	background-color:blue;
}
.table_title::before{
	content: '';
}
.table_title{
	height:5px;
	width:5px;
	padding-left:0%;
	vertical-align:top;
	overflow:hidden;
}
.table_center{
	width:0px;
	height:0px;
	text-align:center;
	overflow:hidden;
}
.table_right{
	/*right:0px;*/
	text-align:right;
	width:5px;
	overflow:hidden;
}
.sub{
	position:relative;
	text-align:right;
	font-family: Roboto-Black;
	font-size:14px;
}
#bourrage4{
	width:100%;
	background-color:lightblue;
}
#bourrage3{
	width:100%;
	background-color:lightblue;
}
#bourrage2{
	width:100%;
	background-color:lightblue;
}
#bourrage1{
	width:100%;
	background-color:lightblue;
}
#retour_haut{
	float:left;
	margin-top:50px;
	bottom:0px;
	width:100%;
	height:40px;
	margin:auto;
	/*margin-right:auto;*/
	background-color:lightblue;
	/*margin-top:0px;*/
	/*margin-left:15%;*/
}
#haut_de_page{
	float:left;
	bottom:0;
	margin-bottom:0;
	padding-bottom:0;
	margin:auto 50%;
	font-family:champagne;
	font-size:32px;
}
footer,
#myfooter,
#footer_main{
	background-color:lightblue;
	top:auto;
	height:500px;
	width:100%;
}
#email{
	margin-top:-200px;
	float:right;
	padding-right:5%;
}
#htmlprogressbar{
	float:right;
	margin-left:0%;
	width:100px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 1px 1px 2px darkblue,inset 1px 1px 2px darkblue;
    -webkit-box-shadow: inset 1px 1px 2px darkblue, 1px 1px 2px darkblue;
    -moz-box-shadow: inset 1px 1px 2px darkblue, 1px 1px 2px darkblue;
}
#htmlprogressbar::before { 
    content: '';
    display: block;
    position: absolute;
    width:75px;
    height: 16px;
    background-color: orange;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#cssprogressbar{
	float:right;
	margin-right:0;
	width:100px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#cssprogressbar::before { 
    content: '';
    display: block;
    position: absolute;
    width: 75px;
    height: 16px;
    background-color: orange;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#javascriptprogressbar{
	float:right;
	margin-right:0;
	width:100px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#javascriptprogressbar::before { 
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    height: 16px;
    background-color: orange;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#phpprogressbar{
	float:right;
	margin-right:0;
	width:100px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#phpprogressbar::before { 
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    height: 16px;
    background-color: orange;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#mysqlprogressbar{
	float:right;
	margin-right:0;
	width:100px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#mysqlprogressbar::before { 
	content: '';
	display: block;
	position: absolute;
	width: 55px;
	height: 16px;
	background-color: orange;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#bootstrapprogressbar{
	float:right;
	margin-right:0;
	width:100px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#bootstrapprogressbar::before { 
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 16px;
    background-color: orange;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#wordpressprogressbar{
	float:right;
	margin-right:0;
	width:100px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#wordpressprogressbar::before { 
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 16px;
	background-color: orange;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#googleprogressbar{
	float:right;
	margin-right:0;
	width:100px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#googleprogressbar::before { 
	content: '';
	display: block;
	position: absolute;
	width: 95px;
	height: 16px;
	background-color: orange;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
}
@font-face {
	font-family:'KaushanScript-Regular';
	src:url('../../ressources/fonts/kaushan/KaushanScript-Regular.otf') format('opentype');
	font-weight:normal;
}
@font-face {
	font-family:'CaviarDreamsBold';
	src:url('../../ressources/fonts/CaviarDreams/Caviar_Dreams_Bold.ttf') format('truetype');
	font-weight:bold;
}
@font-face {
	font-family:'CaviarDreamsBoldItalic';
	src:url('../../ressources/fonts/CaviarDreams/CaviarDreams_BoldItalic.ttf') format('truetype');
	font-weight:bolditalic;
}
@font-face {
	font-family:'CaviarDreamsItalic';
	src:url('../../ressources/fonts/CaviarDreams/CaviarDreams_Italic.ttf') format('truetype');
	font-weight:italic;
}
@font-face {
	font-family:'CaviarDreams';
	src:url('../../ressources/fonts/CaviarDreams/CaviarDreams.ttf') format('truetype');
	font-weight:normal;
}
@font-face {
	font-family:'PlayFairBold';
	src:url('../../ressources/fonts/PlayFairDisplay/PlayfairDisplay-Bold.otf') format('opentype');
	font-weight:bold;
}
@font-face {
	font-family:'PlayFairBoldItalic';
	src:url('../../ressources/fonts/PlayFairDisplay/PlayfairDisplay-BoldItalic.otf') format('opentype');
	font-weight:bolditalic;
}
@font-face {
	font-family:'PlayFairItalic';
	src:url('../../ressources/fonts/PlayFairDisplay/PlayfairDisplay-Italic.otf') format('opentype');
	font-weight:italic;
}
@font-face {
	font-family:'PlayFair';
	src:url('../../ressources/fonts/PlayFairDisplay/PlayfairDisplay-Regular.otf') format('opentype');
	font-weight:normal;
}
@font-face {
	font-family:'Champagne';
	src:url('../../ressources/fonts/Champagne/cac_champagne.ttf') format('truetype');
	font-weight:normal;
}
@font-face {
	font-family:'Roboto-Black';
	src:url('../../ressources/fonts/Roboto/Roboto-Black.ttf') format('truetype');
	font-weight:normal;
}
@font-face {
	font-family:'Roboto-Black';
	src:url('../../ressources/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
	font-weight:italic;
}
@font-face {
	font-family:'Roboto';
	src:url('../../ressources/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight:bold;
}
@font-face {
	font-family:'Roboto';
	src:url('../../ressources/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
	font-weight:bolditalic;
}
@font-face {
	font-family:'RobotoCondensed';
	src:url('../../ressources/fonts/Roboto/RobotoCondensed-Bold.ttf') format('truetype');
	font-weight:bold;
}
@font-face {
	font-family:'RobotoCondensed';
	src:url('../../ressources/fonts/Roboto/RobotoCondensed-BoldItalic.ttf') format('truetype');
	font-weight:bolditalic;
}
@font-face {
	font-family:'RobotoCondensed';
	src:url('../../ressources/fonts/Roboto/RobotoCondensed-Italic.ttf') format('truetype');
	font-weight:italic;
}
@font-face {
	font-family:'RobotoCondensed-Light';
	src:url('../../ressources/fonts/Roboto/RobotoCondensed-Light.ttf') format('truetype');
	font-weight:normal;
}
@font-face {
	font-family:'RobotoCondensed-Light';
	src:url('../../ressources/fonts/Roboto/RobotoCondensed-LightItalic.ttf') format('truetype');
	font-weight:italic;
}
@font-face {
	font-family:'RobotoCondensed-Regular';
	src:url('../../ressources/fonts/Roboto/RobotoCondensed-Regular.ttf') format('truetype');
	font-weight:normal;
}
@font-face {
	font-family:'Roboto';
	src:url('../../ressources/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
	font-weight:italic;
}
@font-face {
	font-family:'Roboto-Light';
	src:url('../../ressources/fonts/Roboto/Roboto-Light.ttf') format('truetype');
	font-weight:normal;
}
@font-face {
	font-family:'Roboto-Light';
	src:url('../../ressources/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
	font-weight:italic;
}
@font-face {
	font-family:'Roboto-Medium';
	src:url('../../ressources/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
	font-weight:medium;
}
@font-face {
	font-family:'Roboto-Medium';
	src:url('../../ressources/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
	font-weight:italic;
}
@font-face {
	font-family:'Roboto-Regular';
	src:url('../../ressources/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight:normal;
}
@font-face {
	font-family:'Roboto-Thin';
	src:url('../../ressources/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
	font-weight:normal;
}
@font-face {
	font-family:'Roboto-Thin';
	src:url('../../ressources/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
	font-weight:italic;
}
body{
	/*overflow-x:hidden;*/
	margin-left:0px;
	margin-right:0px;
	font-family:Roboto-Regular;
}
#contact{
	float:left;
	height:125px;
	width:215px;
	left:0;
	margin-left:8px;
}
table{
	background-color:lightblue;
}
#CV{
	position:relative;
	top:50px;
	height:450;
	width:100%;
	background-color:lightblue;
	background-image:url(../../ressources/images/arbre.png);
	background-repeat:no-repeat;
	background-position:25% 47%;
	background-color:lightblue;
}
/*#padding{
	position:absolute;
	margin-top:550px;
	height:50px;
	width:100%;
	background-color:lightblue;
}*/
.identite,
.about,
.menu_general
{
	list-style-type:none;
}
.about{
	font-size:75%;
}
#titre{
	position:absolute;
	right:0;
	left:0;
	margin-top:125px;
	margin-left:10%;
	margin-right:10%;
	text-align:center;
	background-color:lightgrey;
	font-family:KaushanScript-Regular;
	height:50px;
}
#menu{
	position:relative;
	display:table;
	top:50px;
	width:100%;
	background-color:grey;
	padding-top:16px;
	padding-bottom:16px;
	text-align:center;
	height:25px;
	width:100%;
	overflow:hidden;
}
#menu_general{
	margin:0;
	vertical-align:middle;
	overflow:hidden;
}
.menu_general_list {
	display:inline-block;
	float:none;
	margin-right:5%;
	margin-left:5%;
	text-align:center;
	font-family:champagne;
	font-size:24px;
	width:90%;
}
a:active{
	color:lightblue;
	background-color:darkgrey;
}
a:visited{
	color:black;
}
a:hover{
	cursor:pointer;
}
.contents {
	display:none;
	width:100%;
	/*height:100%;*/
	margin:0px;
	margin-top:-32px;
	/*margin-right:15%;
	margin-left:15%;*/
	background-color:lightblue;
}
#competences_thomas_marsaleix:target{
	display:block;
}
#experiences_thomas_marsaleix:target{
	display:block;
}
#formations_thomas_marsaleix:target{
	display:block;
}
#interets_thomas_marsaleix:target{
	display:block;
}
h3{
	position:relative;
	text-align:center;
	font-family:PlayFairBold;
	width:100%;
	height:25px;
}
#passion{
	font-family:PlayFairBoldItalic;
}
@media screen and (max-width:600px){
footer,
#myfooter,
#footer_main{
	background-color:lightblue;
	top:auto;
	height:450px;
	width:100%;
}
#site_maison{
	float:left;
	background-color:lightblue;
	padding-right:8px;
	margin-top: 225px;
}

}

@media screen and (min-width:620px){
#misc{
	float:right;
	margin-right:8px;
	margin-top:0px;
	font-family:PlayFairItalic;
	font-size:24px;
	height:75px;
	width:200px;
}
.line{  /*margin-left:15%;
	margin-right:15%;*/
	height:2px;
	clear:both;
	background-color:blue;
}
table{
	width:100%;
}
.table_title::before{
	content: '\002022';
}
.table_title{
	width:15%;
	padding-left:5%;
	vertical-align:top;
}
.table_center{
	width:45%;
	text-align:center;
}
.table_right{
	padding-right:5%;
	text-align:right;
	width:40%;
}
.sub{
	padding-right:5%;
	position:relative;
	text-align:right;
	font-family: Roboto-Black;
	font-size:14px;
}
#email{
	margin-top:-125px;
	float:right;
	margin-right:32px;
}
#fly{
	position:relative;
	height:50px;
	width:100%;
	background-color:lightblue;
}
#fly1{
	position:absolute;
	float:left;
	margin-left:69%;
	margin-top:0px;
	height:50px;
	width:50px;
	background-image:url(../images/fly.png);
	background-repeat:no-repeat;
}
#fly2{
	position:absolute;
	float:left;
	margin-left:63%;
	margin-top:15px;
	height:50px;
	width:50px;
	background-image:url(../images/fly.png);
	background-repeat:no-repeat;
}
#fly3{
	position:absolute;
	float:left;
	margin-left:75%;
	margin-top:10px;
	height:50px;
	width:50px;
	background-image:url(../images/fly.png);
	background-repeat:no-repeat;
}
/*#padding{
	position:relative;
	top:825px;
	height:50px;
	width:100%;
	background-color:red;
}*/
#retour_haut{
	float:left;
	margin-top:100px;
	bottom:0px;
	width:100%;
	height:40px;
	margin:auto;
	/*margin-right:auto;*/
	background-color:lightblue;
	/*margin-top:0px;*/
	/*margin-left:15%;*/
}
#haut_de_page{
	float:left;
	bottom:0;
	margin-bottom:0;
	padding-bottom:0;
	margin:auto 50%;
	font-family:champagne;
	font-size:32px;
}
footer,
#myfooter,
#footer_main{
	background-color:lightblue;
	top:auto;
	height:200px;
	width:100%;
}
#site_maison{
	float:left;
	background-color:lightblue;
	margin-left:5%;
	padding-right:5%;
	margin-top: 75px;
}
#htmlprogressbar{
	float:right;
	margin-right:0%;
	width:300px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 1px 1px 2px darkblue,inset 1px 1px 2px darkblue;
    -webkit-box-shadow: inset 1px 1px 2px darkblue, 1px 1px 2px darkblue;
    -moz-box-shadow: inset 1px 1px 2px darkblue, 1px 1px 2px darkblue;
}
#htmlprogressbar::before { 
    content: '';
    display: block;
    position: absolute;
    width:200px;
    height: 16px;
    background-color: orange;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#cssprogressbar{
	float:right;
	margin-right:0;
	width:300px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#cssprogressbar::before { 
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 16px;
    background-color: orange;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#javascriptprogressbar{
	float:right;
	margin-right:0;
	width:300px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#javascriptprogressbar::before { 
    content: '';
    display: block;
    position: absolute;
    width: 175px;
    height: 16px;
    background-color: orange;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#phpprogressbar{
	float:right;
	margin-right:0;
	width:300px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#phpprogressbar::before { 
    content: '';
    display: block;
    position: absolute;
    width: 175px;
    height: 16px;
    background-color: orange;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#mysqlprogressbar{
	float:right;
	margin-right:0;
	width:300px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#mysqlprogressbar::before { 
	content: '';
	display: block;
	position: absolute;
	width: 150px;
	height: 16px;
	background-color: orange;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#bootstrapprogressbar{
	float:right;
	margin-right:0;
	width:300px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#bootstrapprogressbar::before { 
    content: '';
    display: block;
    position: absolute;
    width: 150px;
    height: 16px;
    background-color: orange;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
    -moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#wordpressprogressbar{
	float:right;
	margin-right:0;
	width:300px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#wordpressprogressbar::before { 
	content: '';
	display: block;
	position: absolute;
	width: 50px;
	height: 16px;
	background-color: orange;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
#googleprogressbar{
	float:right;
	margin-right:0;
	width:300px;
	height:16px;
	background-color:cyan;
	border-radius:16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue,inset 0 1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, 0 1px 2px darkblue;
}
#googleprogressbar::before { 
	content: '';
	display: block;
	position: absolute;
	width: 280px;
	height: 16px;
	background-color: orange;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
	-webkit-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
	-moz-box-shadow: inset 0 1px 2px darkblue, inset 0 -1px 2px darkblue;
}
}
